.innerVid {
    padding: 25px;
}

iframe {
        height: 500px;
        width: 640px;
    }

//----------------------------------------------------------------
@media (max-width: 1500px) {
    iframe {
        width: 440px;
        height: 360px;
    }
}

@media (max-width: 1000px) {
    iframe {
        width: 380px;
    }
}


